<div class="row">
    <div class="col-md-4 offset-md-3">
        <h3>Sign up</h3>
        <hr>
        <form action="" [formGroup]='signupForm' (ngSubmit)='onSignup()'>
            <div class='mb-3'>
                <label for="">Email</label>
                <input type="text" class='form-control' formControlName='email'>
            </div>
            <div class="mb-3">
                <label for="">Password</label>
                <input type="password" class='form-control' formControlName='password'>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Sign up</button>
            </div>
        </form>
    </div>
</div>